<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" async defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<script src="https://kit.fontawesome.com/4d033f0668.js" crossorigin="anonymous"></script>
<script src="./others/yall.min.js"></script>

<!--<script src="/js/yall.min.js"></script>
<script src="/js/client.js" defer></script>-->
<link rel="stylesheet" href="./css/style.css">

<i class="fas fa-bars fa-2x menuicon" id="menuicon"></i>

<script>
  document.addEventListener("DOMContentLoaded", yall);
  const { shell } = require('electron')
  $('.menuicon').click(data => {
    $('.titlebar').appendTo('body');
    $('.ui.sidebar').sidebar('toggle');
    $('.titlebar').appendTo('body');
    $('.pusher').attr('style', 'background: #222');
  });

  <% var animesTitle = []; %>
  <% var animes = JSON.parse(JSON.stringify(ejse.data('ptBR_animes'))) 
  %>
  <% for (var i in animes) { 
    //console.log(animes[i].episodes[1].video);
    %>
  <% animesTitle.push({ "title": animes[i].name + (animes[i].ongoing == true ? " <span class='ui tiny red horizontal label' style='vertical-align: -.02em;'>Em progresso</span>" : "") + (animes[i].movie == true ? " <span class='ui tiny blue horizontal label' style='vertical-align: -.02em;'>Filme</span>" : "") + (animes[i].ova == true ? " <span class='ui tiny green horizontal label' style='vertical-align: -.02em;'>OVA</span>" : ""), "movie": animes[i].movie ? true : false, "_id": animes[i]._id, "episode": animes[i].episodes[1].video }) %>
  <% } %>

  var animesTitleObj = <%- JSON.stringify(animesTitle) %>;
  

  $(window).on('load', function() {
    $(".ui.left.icon.input.search").removeClass("disabled");
    $(".ui.left.icon.input.search").find("input").attr("placeholder", "Pesquisar...");
    $('.ui.left.icon.input.search').search({
      source: animesTitleObj,
      //./watch.ejs?video=" + episodes[i].video + "&episode=" + i +"&id=" + animes[id]._id +"'
      onSelect: function(a) { window.location = `./watch.ejs?video=${a.episode}&episode=1&id=${a._id}` }
    });
  });

  function openLink(link){
    shell.openExternal(link)
  }
</script>

<div class="ui left sidebar inverted vertical menu">
  <p style="margin-top: 40px; margin-left: 20px;">Anigiri - 0.0.3(BETA)</p>
  <a href="./index.ejs?p=1" class="item" style="margin-top: 0px;">
    <i class="fas fa-home"></i>
    Animes
  </a>
  <a class="item" style="margin-top: 0px;">
    <i class="fas fa-people-arrows"></i>
    Anigiri Togheter
  </a>
  <a href="./torrent.ejs" class="item" style="margin-top: 0px;">
    <i class="fas fa-cloud-download-alt"></i>
    Torrent
  </a>
  <a onclick="openLink('https://discord.gg/JrhAJFj')" class="item" style="margin-top: 0px;">
    <i class="fab fa-discord"></i>
    Discord
  </a>
  <a onclick="openLink('https://www.patreon.com/anigiri')" class="item" style="margin-top: 0px;">
    <i class="fab fa-patreon"></i>
    Doe-nos
  </a>
  <a href="./dmca.ejs" class="item" style="margin-top: 0px;">
    <i class="fa fa-exclamation-triangle"></i>
    DMCA
  </a>
  <a href="./settings.ejs" class="item" style="margin-top: 0px;">
    <i class="fa fa-wrench"></i>
    Configurações
  </a>
  <a class="item">
      <div class="ui disabled left icon input search">
        <input type="text" class="prompt" placeholder="Carregando..."/>
        <i class="fas fa-search outline" style="color: black; position: absolute; margin-top: 10px; margin-left: 10px"></i>
        <div class="results" style="max-width: 230px;"></div>
      </div>
    </a>
</div>

<script>
  const customTitlebar = require('custom-electron-titlebar');
  
  let MyTitleBar = new customTitlebar.Titlebar({
    backgroundColor: customTitlebar.Color.fromHex('#000'),
    shadow: true
  })

  MyTitleBar.updateTitle('Anigiri');
</script>

<script>if (window.module) module = window.module;</script>
