<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DMCA</title>
  <link rel="stylesheet" href="../photon/css/photon.min.css">
</head>
<body>
  <%- include("./partials/header") %>
  <script>
     setInterval(function(){
        $('.titlebar').appendTo('body');
      }, 500);
      $(document).ready(function() {
        $('.pusher').appendTo('.container-after-titlebar');
        $('.titlebar').appendTo('body');
      });
  </script>
  <div class="pusher" id="pusher">
    <div id="a">
      <p>
        <h2 style="text-align: center; color: #bbb9b9">DMCA</h2>
        <div style="color: #FFF; text-align: justify; width: 80%; margin: auto;">
          A Anigiri está em conformidade com a Digital Millennium Copyright Act (“DMCA”) 17 U.S.C. § 512. É de nossa política responder quaisquer atos de infração e tomar as medidas apropriadas sob Digital Millennium Copyright Act (“DMCA”) e outras leis de propriedade intelectual aplicáveis. Agente DMCA: <b>anigiri.animes@gmail.com</b> 
        <br><br>  - Nossos serviços correspondentes NÃO FINANCIA A HOSPEDAGEM de nenhum arquivo de vídeo e imagem no site, todo conteúdo utilizado aqui esta disponível livremente na internet através de serviços na nuvem e publicamos o mesmo de forma gratuita com o intuito de divulgar a obra. Mesmo assim nos responsabilizamos e estamos dispostos remover o conteúdo do site.
        <br><br>  - Se você é proprietário de algum conteúdo e gostaria da nossa ajuda para distribuir seu conteúdo, contate-nos.
        <br><br>  - Não é de nosso conhecimento a existência de direitos autorais no Brasil relacionado ao conteúdo disponibilizado no site, em todo caso se algum material aqui contido for protegido por algum direito autoral e seu detentor (ou pessoa autorizada) se sentir lesado por estarmos divulgando seu trabalho em nosso site de forma gratuita. Estaremos retirando imediatamente todo material irregular do ar e tomando todas medidas para que o mesmo não volte a aparecer no site.
        <div style="margin: 2em;" class="ui divider"></div>
        <br> Caso queira retirar seu anime do site, ele deve incluir as seguintes informações:
        <div style="margin-left: 10px; margin-top: -20px;">
          <br><br>  1) Uma carta enviada para o endereço de e-mail do nosso Agente DMCA, contendo uma descrição do trabalho protegido por direitos autorais que você alega ter sido violado. Caso não seja o proprietário do trabalho protegido por direitos autorais, você deve incluir também sua assinatura digital ou eletrônica como pessoa autorizada a assinar em nome do proprietário protegido por direitos autorais;
          <br><br>  2) O(s) URL(s) do conteúdo acusado;
          <br><br>  3) Informações razoavelmente suficientes para permitir que a equipe Anigiri entre em contato com você, tais como endereço de email, numero de telefone, e se possível, endereço físico;
          <br><br>  4) Uma declaração sua dizendo acreditar de boa-fé que o uso controverso do material não seja autorizado pelo proprietário do direito autoral, seu agente, ou pela legislação;
          <br><br>  5) Uma declaração sua, feita sob pena de perjúrio, de que as informações incluídas na sua notificação são exatas e que você é o proprietário do direito autoral ou está autorizado a agir em nome do proprietário do direito autoral.
        </div>
        <div style="margin: 2em;" class="ui divider"></div>
        O DMCA oferece um processo para que um proprietário de direito autoral notifique sobre uma alegação de violação de direito autoral. Quando uma notificação válida do DMCA é recebida, nós respondemos nos termos desse processo com a eliminação do conteúdo ofensivo. <br>
        <br>Reclamações sobre DMCA: <b>anigiri.animes@gmail.com</b> <br>
        Atenciosamente: Equipe Anigiri ♡
        <br><br><br>
        </div>
      </p>
    </div>
  </div>
</body>
</html>