<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anigiri</title>

  <link rel="stylesheet" href="../photon/css/photon.min.css">
  
</head>
<body>
  <%- include("./partials/header") %>
  <div class="pusher" id="pusher">
    <script>
      const {getCurrentWindow, globalShortcut} = require('electron').remote;
      var urlParams = new URLSearchParams(window.location.search);
      var page = (Number(urlParams.get('p')) || 1);
      var maxAnimesPerPage = 60;

      setInterval(function(){
        $('.titlebar').appendTo('body');
      }, 500);
      <%
        var animes;
        var animes_length;
        var animes2;
  
        animes_length = Object.keys(ptBR_animes).length;
        animes = JSON.parse(JSON.stringify(ptBR_animes))
  
        var animesObj = [];
        for (var i in animes) {
          animesObj.push({
            "_id": animes[i]._id,
            "name": animes[i].name,
            "description": animes[i].description == "undefined" ? "" : animes[i].description,
            "image": animes[i].image,
            "ongoing": animes[i].ongoing ? true : false,
            "movie": animes[i].movie ? true : false,
            "ova": animes[i].ova ? true : false,
            "episodes": animes[i].episodes
          })
        }
        try {
          animes.sort(function(a, b) {
          if (a.name < b.name) {
            return -1;
          }
          if (a.name > b.name) {
            return 1;
          }
            return 0;
         })
        } catch (error) {
          console.log("err");
        }
        
  
        animes2 = JSON.stringify(animes);
        //ejse.data('animes', JSON.stringify(animes));
      %>
      var animes = <%- animes2 %>
  
      $(document).ready(function() {
        $('.pusher').appendTo('.container-after-titlebar');
        $('.titlebar').appendTo('body');

        var startFrom = (page) * maxAnimesPerPage; // page * animes por pagina
        var totalPages = Math.ceil(((<%- animes_length %> + maxAnimesPerPage) - startFrom) / maxAnimesPerPage);

        if((page - 1) > 0)
        $('#pagesbtn').append("<a href='./index.ejs?p="+ (page - 1) +"' id='previousPage'><i class='fas fa-chevron-circle-left fa-3x'></i></a>");
        if((page + 1) <= totalPages)
        $('#pagesbtn').append("<a href='./index.ejs?p="+ (page + 1) +"' id='nextPage'><i class='fas fa-chevron-circle-right fa-3x'></i></a>");
      });
  
      function OpenAnime(e){
        $('.ui.basic.modal').modal('show');
        var id = e.getAttribute('data-anime');
  
        $('#anime_name').text(animes[id].name);
        $('#anime_description').text(animes[id].description);
        $('#anime_image').attr('src', animes[id].image);
        $('.episodes').html('');
  
        var episodes = JSON.parse(JSON.stringify(animes[id].episodes));
        
        for(var i in episodes){
          var title = "<strong>Episódio " + i + " </strong>";
  
          if(episodes[i].title != "" && episodes[i].title != undefined)
            title = "<strong>Episódio " + i + "</strong>  -  " + episodes[i].title;
  
          $('.episodes').append("<a onclick='goToEpisode('" + episodes[i].title + "')' href='./watch.ejs?video=" + episodes[i].video + "&episode=" + i +"&id=" + animes[id]._id +"'><div class='episode ep_" + i + "'><p>" + title + "</p></div>");
        }
      }

      function goToEpisode(title){
        
      }

      function reloadPage(){
        getCurrentWindow().reload();
      }
      globalShortcut.register('F5', reloadPage);
      globalShortcut.register('CommandOrControl+R', reloadPage);
      window.addEventListener('beforeunload', ()=>{
        globalShortcut.unregister('F5', reloadPage);
        globalShortcut.unregister('CommandOrControl+R', reloadPage);
      })
    </script>
  
    <% if (animes_length <= 0) { %>
    <h1 style="position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;">
      ERROR [01]: ERRO NO CARREGAMENTO, POR FAVOR <a onclick="reloadPage()">CLICK AQUI</a>
    </h1>
    <% } %>
    <div class="aspectwrapper">
      <div class="container" id="container">
      <script>
        var animes_length = <%- animes_length %>

        var o = page * maxAnimesPerPage - maxAnimesPerPage;
        for (var i = (page * maxAnimesPerPage - maxAnimesPerPage); i < animes_length; i++) {
          if (o === page * maxAnimesPerPage) break;
          o++;
          
          $('.container').append("<div data-anime='"+ i +"' onclick='OpenAnime(this)' class='anime post'>" + 
            "<img class='lazy' loading='lazy' src='https://cdn.discordapp.com/attachments/568864759085006853/691822486282567761/1_yVomsubMN2iDuzi9i2Zzyw.gif' data-src='" + animes[i].image +"'>" + 
            "<div class='description'>" + 
            "<p>" + animes[i].name +
            ""+ (animes[i].ongoing ? '<span class="ui red horizontal label">Em progesso</span>' : '') +"" +
            ""+ (animes[i].ova ? '<span class="ui green horizontal label">OVA</span>' : '') +"" +
            ""+ (animes[i].movie ? '<span class="ui blue horizontal label">Filme</span>' : '') +"" +
            "</p>" +
            "</div>")
        }
      </script>
      </div>
    </div>

    <div id="pagesbtn">
      
    </div>
  
    <div class="ui basic modal animeView">
      <div class="header">
        <script>
          function ChangeAnimeInfo(){
            
          }
        </script>
        <p id="anime_name">a</p>
        <img id="anime_image" src='' alt="">  
      </div>
      <div class="info">
        <p id="anime_description"></p>  
        <div class="episodes">
          
        </div>
      </div>
    </div>
   
  </div>
  <script src="../renderer.js"></script>
</body>
</html>